
<h1>Listing all the historials</h1>

<% @historials.each do |historial| %>
  <div>
    <h4>Owner Name: <%= historial.owner_name %></h4>
    <h4>Reason: <%= historial.consult_reason %></h4>
  </div>
<% end %>

<%= link_to "Create a new historial", new_historial_path %>

<%= link_to "back", root_path %>

